<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LISTA LUCHO</title>
  </head>
  <body>
<% if (diax === sabado){ %>
      <h1 style="color:blue">hoy es dia <%= mostrar %></h1>
<%   } else {%>
      <h1 style="color:red">hoy es dia <%= mostrar %></h1>
  <%  } %>




  </body>
</html>
